{% extends "base.html" %}
{% block  body_block %}
<main role="main" class="container">
<!-- find the wifi-->

<!-- search restuarants -->
<div class="section">
    <p> <strong>Search for restaurants </strong> </p>
    <form class="form-horizontal" method="POST" action="{{ url_for('restaurantSearch_results') }}">
      <span>Restaurant Name: <span>
      <input type="text" class="btn-inline" placeholder="Enter Name..." name="name">
      <span><br> Cuisine Type: <span>
      <input type="text" class="btn-inline" placeholder="Enter Cusine Type..." name="type">
      <span><br> Neighboorhood: <span>
      <input type="text" class="btn-inline" placeholder="Enter Neighboorhood..." name="neigh">
      <span><br> Sort By: <span>
      <select class="btn-inline" name="order">
          <option value= "restuarantName">Restaurant Name</option>
          <option value= "cuisineType">Cuisine Type</option>
          <option value= "restuarants.neighborhood">Neighborhood</option>
          <option value= "zipcode">Zipcode</option>
        </select>
      <button type="submit" class="btn btn-default btn-inline">Search</button>
    </form>
    </div>

<!-- search restuarant violations -->
<div class="section">
    <p> <strong>Search for a restaurant violations </strong> </p>
    <form class="form-horizontal" method="POST" action="{{ url_for('restaurantVioSearch_results') }}">
      <span>Restaurant CAMIS ID: <span>
      <input type="text" class="btn-inline" placeholder="Enter CAMIS" name="name">
      <span><br> Expand Violation Descriptions: <span>
      <select class="btn-inline" name="expanded">
          <option value= "Yes">Yes</option>
          <option value= "No">No</option>
        </select>
      <button type="submit" class="btn btn-default btn-inline">Search</button>
    </form>
    </div>

<!-- search neighborhood features -->
<div class="section">
  <p> <strong>Search for neighborhood features </strong> </p>
  <form class="form-horizontal" method="POST" action="{{ url_for('neighborhoodResults') }}">
    <span>Restaurant Name: <span>
    <input type="text" class="btn-inline" placeholder="Enter Name..." name="name">
    <button type="submit" class="btn btn-default btn-inline">Search</button>
  </form>
  </div>

<!-- search for public wifi by neighboorhood -->
<div class="section">
<p>
  <strong>Search for public wifi by neighboorhood</strong>
</p>
<form class="form-horizontal" method="POST" action="{{ url_for('wifi_result') }}">
  <span>WiFi Type</span>
  <select class="btn-inline" name="wifiTypeSel">
    <option value= ""></option>
    <option value= "Free">Free</option>
    <option value= "Limited Free">Limited Free</option>
    <option value= "Partner Site">Partner Site</option>
  </select>
  <span> <br> Neighboorhood: <span>
  <input type="text" class="btn-inline" placeholder="Enter neighborhood..." name="city">
  <button type="submit" class="btn btn-default btn-inline">Search</button>
</form>
</div>

<!-- find the wifi nearcertain entrance-->
<div class="section">
<p> <strong>2. Find public wifi near certain subway entrance </strong> </p>
<form class="form-horizontal" method="POST" action="{{ url_for('wifinearE_result') }}">
  <span>the Id of certain entrance will be </span>
  <input type="text" class="btn-inline" placeholder="code btw 1 and 1932 ..." name="id">
  <button type="submit" class="btn btn-default btn-inline">Search</button>
</form>
</div>

<!-- find the restuarants near landmarks without violations in 2019 -->
<div class="section">
<p> <strong>find the restuarants near certain landmarks without violations in three months </strong> </p>
<form class="form-horizontal" method="POST" action="{{ url_for('goodrestnl_result') }}">
  <span>the landmark whose objectID is </span>
  <input type="text" class="btn-inline" placeholder="code btw 1 and 1388 ..." name="id">
  <span> or the  name is like <span>
    <input type="text" class="btn-inline" placeholder="input the name of landmark" name="name">
  <button type="submit" class="btn btn-default btn-inline">Search</button>
</form>
</div>

<!-- find the landmark which has most great restaurants -->
<div class="section">
<p> <strong>find the landmark which has most great restaurants </strong> </p>
<form class="form-horizontal" method="GET" action="{{ url_for('landmarknr_result') }}">
<span> To be specific, it will order the restaurant by the ratio of  number of violations to the number of restuarants, and the number of restuarants </span>
<button type="submit" class="btn btn-default btn-inline">View</button>
</form>
</div>




</main>

{% endblock %}
