{% extends "base.html" %}
{% block  body_block %}
<p><strong> there are {{count}} results are found<strong></p>
<table class="table table-bordered">
<tr>
    <th>restaurantName</th>
    <th>longitude</th>
    <th>latitude</th>
    <th>cuisineType</th>
    <th>neighboorhood</th>
    <th>street</th>
    <th>zipcode</th>
    <th>phone</th>
</tr>
{% for rest in rest_list%}
<tr>
    <td>{{ rest["restaurantName"] }}</td>
    <td>{{ rest["longitude"] }}</td>
    <td>{{ rest["latitude"] }}</td>
    <td>{{ rest["cuisineType"] }}</td>
    <td>{{ rest["neighborhood"] }}</td>
    <td>{{ rest["street"] }}</td>
    <td>{{ rest["zipcode"] }}</td>
    <td>{{ rest["phone"] }}</td>
</tr>
{% endfor %}
{% endblock%}
